<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>
    <%= base.metadata.web.title %>
  </title>
</head>

<body>
  <% if (base.parameter.hasBanner) { %>
    <h2>
      <%= base.banner.message %><span>
          (<%= base.banner.type %>/Dev:<%= base.user.isDev %>)
        </span>
    </h2>
    <% } %>

      <% if (base.parameter.showHome) { %>
        <%- include('pages/home', {base: base}) %>
          <% } else if(base.parameter.showPublic) { %>
            <%- include('pages/public', {base: base}) %>
              <% } else if(base.parameter.showLogin) { %>
                <%- include('pages/login', {base: base}) %>
                  <% } %>

</body>

</html>